* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  html {
    scroll-behavior: smooth;
  }
  #s1 {
    width: 100%;
    height: 100px;
  }
  .nav-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    background-color: #E6E1C9;
  }
  
  .nav-list > nav > ul > li > a {
    color: white;
    text-decoration: none;
  }
  .nav-list > nav > ul > li {
    display: inline-block;
    margin-right: 25px;
  }
  .nav-list > nav > ul {
    list-style: none;
  }
  .nav-list > nav > ul > li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: orangered;
    transition: 0.3s;
    display: block;
  }
  .nav-list > nav > ul > li:hover::after {
    width: 100%;
  }
  .nav-list > img {
    width: 100px;
    height: 100px;
  }
  /* -----------------------------------s2---------------------------------------- */
  p{
    font-size: 35px;
    text-align: center;
  }
  #s2>img{
width:300px ;
height: 300px;
margin-left:39%;  
}
footer {
  width: 100%;
  height: 70vh;
  background-color: #111111;
  color: whitesmoke;
  margin-top: 200px;
}
footer > .text-foot {
  width: 75%;
  margin: auto;
  padding: 20px;
}
footer > .text-foot > header {
  font-size: 35px;
  text-align: center;
  color: #e96b1e;
  font-weight: 600;
}
footer > .text-foot > p {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
footer > .link-foot {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
footer > .link-foot > a > img {
  width: 40px;
  height: 40px;
}
footer > .copyright {
  margin-top: 32vh;
  background-color: #000000;
  font-size: 10px;
}